* {
    box-sizing: border;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/wallpaper.jpg');
    background-size: cover;
    background-repeat: none;
}

.bloc-question {
    background-color: rgba(255, 255, 255, 0.582);
}

.numeroQuestion {
    font-size: 0.5;
}

h2 {
    padding: 0.5em;
    font-size: 1.5em;
    color: rgb(14, 7, 1);
}

h1 {
    text-align: center;
    word-spacing: 10px;
    font-size: 2em;
}

h1 span {
    font-size: 1.5em;
    color: rgb(236, 51, 51);
}

.btn {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: rgb(238, 89, 89);
    border-radius: 3px;
    color: rgb(0, 0, 0);
}

.btn:hover {
    background-color: rgb(238, 55, 55);
    color: black;
}

button.btn-next {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    width: 30%;
    height: 3em;
    background-color: #BCE4FE;
    border-radius: 3px;
    border: 2px solid black;
}

button.btn-next:hover {
    background-color: rgb(238, 89, 89);
}

.image {
    width: 20vw;
    padding-bottom: 1em;
}

.score {
    padding: 0.4em;
}

.message {
    padding: 0.4em;
    font-size: 1.5em;
}

#container-result {
    justify-content: center;
    margin:5%;
    padding: 5%;
    height: auto;
    width: auto;
    background-color: aliceblue;
    background-size: cover;
    font-size: 1.5em;
}
.btn-retry{
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: rgb(238, 89, 89);
    border-radius: 3px;
    color: rgb(0, 0, 0);
}

@media all and (max-device-width: 480px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1em;
    }
    .btn {
        height: auto;
        font-size: 1em;
    }
    .message {
        font-size: 1em;
        display: none;
    }
}